<div class="bg-nav border-t border-black/40 py-3.5 px-4 text-center text-[11px] text-footer-ink">
  <div>Quorum &mdash; Powered by dubious PHP since never. All times are GMT-5.</div>
  <div class="mt-1.5">
    <a href="#" class="text-footer-link mx-2 hover:underline">Contact Us</a>
    <a href="#" class="text-footer-link mx-2 hover:underline">Terms of Service</a>
    <a href="#" class="text-footer-link mx-2 hover:underline">Privacy Policy</a>
    <a href="#" class="text-footer-link mx-2 hover:underline">Archive</a>
    <a href="#" class="text-footer-link mx-2 hover:underline">Admin CP</a>
  </div>
</div>
